<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPass">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8000/Passport/service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPass"
                contract="PassService.IPass" name="NetTcpBinding_IPass" />
        </client>
    </system.serviceModel>
</configuration>