<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="JavaReaderPath" value="C:\Users\Michal\eclipse-workspace\mrtd\out\artifacts\mrtd_jar\" />
    <add key="CSCAMasterlist" value="https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/ElekAusweise/CSCA/GermanMasterList.html" />
  </appSettings>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      
      <service name="PassportService.Pass"
               behaviorConfiguration="PassServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000/Passport/service"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="netTcpBinding" bindingConfiguration="myBinding"
                  contract="PassportService.IPass" />
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="myBinding" maxBufferPoolSize="2147483647"
             maxReceivedMessageSize="2147483647">
          <readerQuotas  maxDepth="64"
            maxStringContentLength="2147483647"
             maxArrayLength="2147483647"
             maxBytesPerRead="4096"
             maxNameTableCharCount="16384"/>
          <security mode ="None">
            <message clientCredentialType="None"/>
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PassServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>